@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'get schwifty', sans-serif;
  color: red;
}

.navbar {
  display: flex; 
  background-image: linear-gradient(45deg, orange, rgba(80, 33, 221, 0.87));
}

.navbar-items {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style: none;
  padding: 0 .5em;
}

.app-logo, .app-title { 
  flex: .38;
  flex-basis: 10em;  
    img { 
      border-radius: 6em; 
      border: solid whitesmoke;
      width: 5em;
    }
}

.nav-link { 
  flex: .1; 
  margin: 1em .5em;
    a { 
      text-decoration: none; 
      color: orange;
    }
}

.dropdown, .col {display: none;}

@media (min-width: 20em) and (max-width: 550px) {
  .nav-link { display: none; }
  .app-title { display: none; }
  .dropdown-wrapper { flex: .1em; }
  .dropdown, .col, #nav-dropdown { 
    display: block; 
    color: whitesmoke; 
  }
  .dropdown-toggle::after { color: orange;}
  .dropdown-menu.show {
    min-width: 0; 
    transform: translate3d(-6px, 42px, 0px) !important;
  }
  .dropdown-item { color: purple; }
  
}
 