@import "~bootstrap/scss/bootstrap";

body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: 'get schwifty', sans-serif;
  color: red;
}

// NAVBAR
.navbar {
  display: flex; 
  background-image: linear-gradient(45deg, orange, rgba(80, 33, 221, 0.87));
  height: 6em;
}

.navbar-items {
  display: flex;
  flex-direction: row;
  flex: 1;
  list-style: none;
  padding: 0 .5em;
}

.app-logo, .app-title { 
  flex: .38;
  flex-basis: 10em;  
    img { 
      border-radius: 6em; 
      border: solid whitesmoke;
      width: 5em;
    }
}

.app-title h4 {
  font-family: 'get schwifty', sans-serif;
  font-size: 2em;
  color: purple;
  text-shadow: 1px 1px orange;
  margin: .5em 0;
}

.nav-item { 
  flex: .1; 
  margin: 1em .5em;
    a { 
      text-decoration: none; 
      color: orange;
      transition: .3s ease-in-out;
    }
    a:hover {
      font-size: 1.1em;
      text-shadow: 1px 1px purple;
    }
}

.dropdown, .col {display: none;}

// SEARCH BOX 
.search-box-wrapper {
  display: flex;
  justify-content: center;
  background: linear-gradient(45deg, rgba(0,0,0,.6), rgba(0,0,0,.6)), 
  url("./images/rick-morty-wallpaper-2.png"); 
  background-size: cover; 
  background-position-y: center;
  height: 18em; 
}

.search-box {
  position: relative;
  width: 30%;
  top: 14em;
  @media (min-width: 20em) and (max-width: 640px) {
    width: 80%;
  }
}

// FILTER/SORT WRAPPER
.filter-sort-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

    @media (min-width: 1200px) {
      flex-direction: column;
      position: sticky;
      top: 1em;
      border-radius: 1em;
      padding: 2em; 
      width: fit-content;
      z-index: 1000;
    }
}

// FILTER SECTION 
.dropdown-filter-wrapper { 
  position: relative;
  flex: 1;
  margin: 1em .5em;
  top: -1em;
}
.dropdown-filter-link { 
  cursor: pointer; 
  width: fit-content;
    span { margin: 0 .25em; }
}
.dropdown-filter-content {
  display: block; 
  position: absolute; 
  top: 1.5em; 
  border-radius: 1em;
  width: 8em; 
  background-color:whitesmoke;
  z-index: 1;
  box-shadow: 0 10px 15px 0 rgba(0,0,0,0.2); 
  transition: .3s ease-in;
}
.dropdown-filter-item { margin: .5em; }
.dropdown-item.active {
  color: purple !important;
  background-color: orange !important;
}
.category-title { margin: 0 .5em; }
.label-wrapper {
  display: grid;
  grid-template-columns: 5em .5em;
}
.checkbox { margin: .25em .25em; }

// SORT (SWITCH INPUT) SECTION 
.sort-wrapper {
  flex: .5;
}
.sort-header { margin: .5em 1em; }

.switch {
  position: relative;
  display: inline-block;
  width: 6em;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: orange;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 6px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: purple;
}

input:focus + .slider {
  box-shadow: 0 0 1px purple;
}

input:checked + .slider:before {
  -webkit-transform: translateX(61px);
  -ms-transform: translateX(61px);
  transform: translateX(61px);
}

.asc { display: none; }

.asc, .desc {
  color: white;
  position: absolute;
  transform: translate(-30%,-50%);
  top: 50%;
  left: 50%;
  font-size: .75em;
  font-family: sans-serif;
}

input:checked + .slider .asc
{display: block;}

input:checked + .slider .desc
{display: none;}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

// CHARACTER CARD
.character-wrapper, .char-list-wrapper {
  display: flex;
  flex-direction: column;
}
.char-list-wrapper {
  position: relative;
  align-items: center;
  transition: .3s ease-in-out;

  @media (min-width: 640px) {
    display: grid;
    justify-content: center; 
    grid-template-columns: 20em 20em;
    grid-column-gap: .5em;
  }

  @media (min-width: 1040px) {
    grid-template-columns: 20em 20em 20em;
  }
  @media (min-width: 1200px) {
    justify-content: right;
    top: -13.5em;
  }
}
.card-content {
  margin: 1em 1em;
  width: 18.5em;
  border-top-left-radius: 50em;
  border-top-right-radius: 50em;
  background-color: orange;
  border-bottom-left-radius: 15em;
  border-bottom-right-radius: 15em;
  transition: .3s ease-in-out;
}
.card-content:hover {
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  transform: scale(1.025);
}
.char-img {
  width: 18.5em;
  border-radius: 3em;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.card-text { padding: 1em 2em 1em; }
.status-alive { color: green; }
.status-dead { color: red; }
.status-alive, .status-dead {
  margin: 0 .25em;
  font-size: 1.25em;
}
.status::before {
  content: "—"; 
}
.origin-header { color: #fffc; }

// MOBILE NAVBAR
@media (min-width: 20em) and (max-width: 640px) {
  .nav-item { display: none; }
  .app-title { display: none; }
  .dropdown-wrapper { flex: .1; }
  .dropdown, .col, #nav-dropdown { 
    display: block; 
    color: whitesmoke; 
  }
  .dropdown-toggle::after { color: orange;}
  .dropdown-menu.show {
    min-width: 0; 
    transform: translate3d(-6px, 42px, 0px) !important;
  }
  .dropdown-item { color: purple; } 
  
}

.loading-img {
  text-align: center;
  margin: 7em 0;
    img {
      width: 10em;
      border-radius: 6em;
    }
}


 